<p>Folgendes Produkt ist ausgewählt:</p>

<div class="table-wrapper">
	<table class="compact js_table">
		<tr>
			<th>Anzahl</th>
			<th>Produkt</th>
			<th>Einzelpreis</th>
			<th>Gesamtpreis</th>
		</tr>
		<tr>
			<td><input type="text" class="software-quantity" name="quantity" value="1" data-label="Anzahl"
				data-validate="required,number" data-minnumber="1" data-maxnumber="100"></td>
			<td>{{program.name}}</td>
			<td class="align-right js_unit-price"></td>
			<td class="align-right js_total-price"></td>
		</tr>
		<tr class="hidden js_discount-row">
			<td colspan="3" class="align-right"><b>Rabatt:</b></td>
			<td class="align-right"><b class="js_discount-price"></b></td>
		</tr>
		<tr>
			<td colspan="3" class="align-right"><b>Summe:</b></td>
			<td class="align-right"><b class="js_grand-total"></b></td>
		</tr>
	</table>
</div>

<p>
	Beachtet bitte, dass ihr eine Lizenz je Benutzer benötigt, für den Fall,
	dass ihr {{program.name}} auf mehreren Computern einsetzen möchtet.
	Ab der 2. Lizenz erhaltet ihr 20% Rabatt.
</p>

<p>
	Alle Preise sind Endpreise in Euro, keine Ausweisung der Mwst. nach § 19 UStG.
	<br>
	Liefer- und Versandkosten fallen nicht an.
</p>

<div class="js_messages"></div>

<div class="buttons">
	<div class="buttons__right">
		<button type="submit">Zur Kasse</button>
	</div>
</div>
