<p>You have selected the following product:</p>

<div class="table-wrapper">
	<table class="compact js_table">
		<tr>
			<th>Quantity</th>
			<th>Product</th>
			<th>Unit price</th>
			<th>Total price</th>
		</tr>
		<tr>
			<td><input type="text" class="software-quantity" name="quantity" value="1" data-label="Quantity"
				data-validate="required,number" data-minnumber="1" data-maxnumber="100"></td>
			<td>{{program.name}}</td>
			<td class="align-right js_unit-price"></td>
			<td class="align-right js_total-price"></td>
		</tr>
		<tr class="hidden js_discount-row">
			<td colspan="3" class="align-right"><b>Discount:</b></td>
			<td class="align-right"><b class="js_discount-price"></b></td>
		</tr>
		<tr>
			<td colspan="3" class="align-right"><b>Grand total:</b></td>
			<td class="align-right"><b class="js_grand-total"></b></td>
		</tr>
	</table>
</div>

<p>
	Please note that you will need a license for each user,
	in case you intend to use the program on several computers.
	From the 2nd license on, you get 20% discount.
</p>

<p>
	All prices are end-consumer prices in Euros. There are no shipping costs.
</p>

<div class="js_messages"></div>

<div class="buttons">
	<div class="buttons__right">
		<button type="submit">Check out now</button>
	</div>
</div>
