							</div>
						</article>
					</div>
				</div>
			</div>

			<div class="secondary">
				<div id="primary-sidebar" class="primary-sidebar" role="complementary">
					<aside>
						<ul>
							{{>navigation}}
						</ul>
					</aside>
				</div>
			</div>
		</div>

		<footer id="colophon" class="site-footer" role="contentinfo">
			<div id="supplementary">
				<div id="footer-sidebar" class="footer-sidebar" role="complementary">
					<aside>
						<ul>
							<li class="page_item">
								<a href="https://www.thomasjacob.de/footer/contact/" title="Contact" target="_blank">Contact</a>
							</li>
							<li class="page_item">
								<a href="http://www.thomasjacob.de/footer/imprint/" title="Imprint and notes" target="_blank">Imprint and notes</a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="/js/template.js?anticache={{buildDate}}"></script>
</body>

</html>
