{{>navigation-li name='Rich text'}}
<ul class='children'>
	{{>navigation-li name='Headlines, paragraphs' path='/rich-text/headlines-paragraphs'}}</li>
	{{>navigation-li name='Code, quotes' path='/rich-text/code-quotes'}}</li>
	{{>navigation-li name='Lists' path='/rich-text/lists'}}</li>
	{{>navigation-li name='Tables' path='/rich-text/tables'}}</li>
	{{>navigation-li name='Timelines' path='/rich-text/timelines'}}</li>
	{{>navigation-li name='Accordions' path='/rich-text/accordions'}}</li>
	{{>navigation-li name='Icons' path='/rich-text/icons'}}</li>
	{{>navigation-li name='Emojis' path='/rich-text/emojis'}}</li>
	{{>navigation-li name='YouTube videos' path='/rich-text/youtube'}}</li>
</ul>
</li>

{{>navigation-li name='Images'}}
<ul class='children'>
	{{>navigation-li name='Standalone images' path='/image-pages/standalone-images'}}</li>
	{{>navigation-li name='Text images' path='/image-pages/text-images'}}</li>
	{{>navigation-li name='Galleries' path='/image-pages/galleries'}}</li>
	{{>navigation-li name='Side image' path='/image-pages/side-image'}}</li>
</ul>
</li>

{{>navigation-li name='Forms'}}
<ul class='children'>
	{{>navigation-li name='Basic inputs' path='/forms/inputs'}}</li>
	{{>navigation-li name='Rich inputs' path='/forms/rich-inputs'}}</li>
	{{>navigation-li name='Buttons' path='/forms/buttons'}}</li>
	{{>navigation-li name='Messages' path='/forms/messages'}}</li>
</ul>
</li>

{{>navigation-li name='Custom widgets' path='/custom-widgets'}}</li>

{{>navigation-li name='Dialogs' path='/dialogs'}}</li>

{{>navigation-li name='No-navigation page' path='/no-navigation'}}</li>

{{>navigation-li name='Clickable nav' path='/my-folder'}}
<ul class='children'>
	{{>navigation-li name='Sub item 1' path='/folder1/sub1'}}</li>
	{{>navigation-li name='Sub item 2' path='/folder1/sub2'}}</li>
	{{>navigation-li name='Sub item 3' path='/folder1/sub3'}}</li>
</ul>
</li>

{{>navigation-li name='Non-clickable nav'}}
<ul class='children'>
	{{>navigation-li name='Sub item 1' path='/folder2/sub1'}}</li>
	{{>navigation-li name='Sub item 2' path='/folder2/sub2'}}</li>
	{{>navigation-li name='Sub item 3' path='/folder2/sub3'}}</li>
</ul>
</li>