.header-main .header-buttons {
	position: absolute;
	top: 18px;
  right: 25px;
}

.header-main .header-buttons > * {
  position: static;
  margin-left: 8px;
}

.header-main .header-buttons button {
  min-width: 60px;
}

.header-main .header-buttons .header-button-text {
  display: inline;
}

.site-description {
  display: none;
}
.site-description--short {
  display: block;
}

.fa {
  display: inline-flex;
  min-width: 16px;
}
.fa::before {
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .site-description {
    display: block;
  }
  .site-description--short {
    display: none;
  }
}

@media screen and (min-width: 846px) {
  .fa {
    min-width: 18px;
  }
}
