<p>
	A paragraph consisting of content. And even more words.
	Sometimes, the words are <b>bold</b>, but there is no <i>italic</i>,
	<u>underlined</u>, <em>emphasis</em>, or <strong>strong</strong>.
</p>

<p>
	You can also use<br>
	breaks<br>
	to split a paragraph into multiple lines.
</p>

<ul>
	<li>And an enumeration</li>
	<li>of elements</li>
	<li>is also supported.</li>
</ul>
