<div class="overlay js_overlay" style="opacity:0">
	<div class="overlay__frame">
		<div class="overlay__frame__close js_overlay-close">
			<button class="button-secondary">
				<i class="fa fa-close"></i>
			</button>
		</div>

		<div class="overlay__frame__bar hidden js_overlay-header"></div>
		<div class="overlay__frame__content page-content js_overlay-content"></div>
		<div class="overlay__frame__bar overlay__frame__bar--right hidden js_overlay-footer"></div>
	</div>
</div>
